.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.btn{
    padding:0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn-primary{
    background: var(--primary);
    color: var(--secondary);
    margin-top: 2rem;

}

.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-secondary{
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);

}

.btn-secondary:hover{
    background: var(--primary);
    color: var(--secondary);
    color: black;
}

.btn-simple{
    padding:0.8rem 6rem;
    background: transparent;
    color: black;
    border: none;
    text-transform: none;
    font-style: normal;
    font-size: 1.4rem;
    font-weight:normal;
    
}

.btn-simple:hover{
    background: transparent;
    color: var(--primary);
    text-transform: none;

}

.flex-1{
    flex: 1;
}

.justify-center{
    justify-content: center;
}
